.logo {
    margin-left: 15px;
    font-size: 38px;
    font-family: 'Courier New';
    font-weight: 500;
    color: #b823a4
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: start;
    padding: 0px 5px;
    margin: 10px 10px;
    font-family: 'Courier New';
    font-weight: 500;
    color: #b823a4
}

.menuItem {
    padding: 0px 10px;
    font-size: 20px;
    font-family: 'Courier New';
}
.chart1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

label {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
}